<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        This is About Page
    </h1>
    <p>
        Welcome to About Page
    </p>
    <%- include('header') %>
        About
</body>

</html>