<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Contact Page
    </h1>
    <p>Welcome to Contact Page</p>
    <%- include('header') %>
        Contact
</body>

</html>