<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
</head>

<body>
    <form method="post" action="/database">
        <label for="id">st_id</label>
        <input type="number" name="txt1">

        <label for="first">fname</label>
        <input type="text" name="txt2">

        <label for="last">lname</label>
        <input type="text" name="txt3">

        <button type="submit">submit</button>
    </form>
</body>

</html>