<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Home Page
    </h1>
    <p>Welcome to Home Page</p>
    <%- include('header') %>
        home
</body>

</html>