<!DOCTYPE html>
<html>

<head>
    <title>
        fake title
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        This is Index Page
    </h1>
    <p>Welcome to Index Page</p>
    <a href="/home">home</a>
    <a href="/about">about us</a>
    <a href="/contact">contact</a>
    <a href="/form">form</a>
    <a href="/database">database</a>
</body>

</html>